*{
    margin: 0px;
    padding: 0px;
}
.container{
    height: 1000px;
    background-color: black;
}

h1{
    padding-top: 30px;
    color: white;
    text-align: center;
}

button{
    margin: 50px auto;
    padding: 30px;
    display: flex;
    align-content: center;
}

p {
    color: white;
    text-align: center;
    font-size: 40px;
}